<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.webServer>
		<aspNetCore processPath="dotnet"
					arguments=".\InvocadorPersonaJuridica.Api.dll"
					forwardWindowsAuthToken="true"
					stdoutLogEnabled="false"
					stdoutLogFile=".\logs\stdout"
					hostingModel="inprocess"
					xdt:Transform="Replace"/>
		<security xdt:Transform="Replace">
			<authentication>
				<anonymousAuthentication enabled="true" />
				<windowsAuthentication enabled="false" />
			</authentication>
			<access sslFlags="None" />
		</security>
	</system.webServer>
</configuration>